.createpublication-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.createpublication-container #title {
  margin: 30px;
  width: 56%;
  text-align: left;
  color: #FF7B7B;
}

.createpublication-container .content {
  width: 56%;
  height: 80vh;
  margin: 0 auto;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  background: white;   
}
.createpublication-container .content form {
  width: 100%;
  margin-top: 0;
  display: flex;
  background: white;
  justify-items: center;
  flex-direction: column;
}
.createpublication-container .content form div, .createpublication-container .content form textarea {
  width: 100%;
  border: 1px solid #FF7B7B;
  color: #838383;
  height: 40%;
  margin-bottom: 15px;
  background: transparent;
  padding: 0 0 0 20px;
  font: 400 14px Roboto, sans-serif;  
}

.createpublication-container .content form input, .createpublication-container .content form select {
  width: 100%;
  height: 55px;
  color: #838383;
  border: 1px solid #FF7B7B;
  box-sizing: border-box;
  display: flex;
  font-size: 20px;
  opacity: 1;
  margin-bottom: 15px;
  background: transparent;
  padding: 0 0 0 20px;
  font: 400 14px Roboto, sans-serif
}

.createpublication-container .content form button {
  margin: 20px 0 20px 0;
  cursor: pointer;
  padding: 0;
  border: 0;
  width: 35%;
  height: 51px;
  color: #FFFFFF;
  background: #FF7B7B 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  opacity: 1;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  transition: filter 0.2s;
}

.createpublication-container .content form button:hover {
  filter: brightness(90%);
}

