.createpublication-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.createpublication-container #title {
  margin: 30px;
  width: 56%;
  text-align: left;
  color: #FF7B7B;
}

.createpublication-container .content {
  width: 56%;
  height: 80vh;
  margin: 0 auto;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  background: white;   
}
.createpublication-container .content form {
  width: 100%;
  margin-top: 0;
  display: flex;
  background: white;
  justify-items: center;
  flex-direction: column;
}
.createpublication-container .content form div, .createpublication-container .content form textarea {
  width: 100%;
  border: 1px solid #FF7B7B;
  color: #838383;
  height: 40%;
  margin-bottom: 15px;
  background: transparent;
  padding: 0 0 0 20px;
  font: 400 14px Roboto, sans-serif;  
}

.createpublication-container .content form input, .createpublication-container .content form select {
  width: 100%;
  height: 55px;
  color: #838383;
  border: 1px solid #FF7B7B;
  box-sizing: border-box;
  display: flex;
  font-size: 20px;
  opacity: 1;
  margin-bottom: 15px;
  background: transparent;
  padding: 0 0 0 20px;
  font: 400 14px Roboto, sans-serif
}

.createpublication-container .content form button {
  margin: 20px 0 20px 0;
  cursor: pointer;
  padding: 0;
  border: 0;
  width: 35%;
  height: 51px;
  color: #FFFFFF;
  background: #FF7B7B 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  opacity: 1;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  transition: filter 0.2s;
}
.content form div {
  display: grid;
  align-items: center;
}

.createpublication-container .content form button:hover {
  filter: brightness(90%);
}

.custom-file-input {
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Faça o upload de uma imagem';
  display: inline-block;
  background: white;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}


.createpublication-container label{ 
  position: relative; 
  background: white;
  margin: 0 auto;
} 
#fileinp{ 
  position: absolute; 
  left: 0; 
  top: 0;
  opacity: 0; 
} 
#btn{ 
  margin-right: 5px; 
} 
#text{ 
  color: #343434;
  background: white;
}