.feed-container {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: 250px auto;
  justify-items: center;
}

Aside {
  padding: 0 0 40px 0;
}

.feed-container h3,
.feed-container h2 {
  margin: 5px 0;
}
.feed-container p {
  margin: 15px 0;
}
.feed-container a {
  text-decoration: none;
  color: #ff7b7b;
}

.sair {
  margin-top: 0px;
  background: white;
  color: #ff7b7b;
}
.feed-container publication p,
.feed-container publication h2 {
  justify-items: left;
  background: transparent;
}

#imgback {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.back-white {
  background: white;
}

.acessar {
  background: #ff7b7b;
  margin: 0 auto;
}

.buttons {
  position: relative;
  bottom: 40px;
  left: 20px;

  background: transparent;
}

.buttons Button {
  margin: 0 5px;
}

.descriotion-container {
  position: relative;
  bottom: 30px;
}
